@using PSC.Blazor.Components.MarkdownEditor

@page "/posts/create"
@rendermode @(new InteractiveWebAssemblyRenderMode(false))

<MudContainer  MaxWidth="MaxWidth.Large">
    <MudTabs Elevation="2"
             Rounded="true"
             PanelClass="pa-6"
             ApplyEffectsToContainer="true"
             Border="true"
    >
        <MudTabPanel Text="Write">
            <div>
                <MarkdownEditor
                    @bind-Value="@_markdownValue"
                    MaxHeight="600"
                    UploadImage="true"
                    LineWrapping="false"
                    AllowResize="true"
                    SpellChecker="false"
                    AutoSaveEnabled="true"/>
            </div>
        </MudTabPanel>
        <MudTabPanel Text="Preview">
            <div >
                <EditorView MarkdownValue="@_markdownValue"></EditorView>
            </div>
        </MudTabPanel>
    </MudTabs>
</MudContainer>

@code {
    private MarkdownEditor? _markdown1;
    private string _markdownValue = string.Empty;
    private int _activeIndex = 0;

    protected override void OnInitialized()
    {
        Console.WriteLine("OnInitialized");
        base.OnInitialized();
    }

    protected override Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync");

        return base.OnInitializedAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("OnAfterRender");

        base.OnAfterRender(firstRender);
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine("OnAfterRenderAsync");

        return base.OnAfterRenderAsync(firstRender);
    }

    protected override bool ShouldRender()
    {
        Console.WriteLine("ShouldRender");

        return base.ShouldRender();
    }

}