@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="@_isDarkMode"/>
<MudLayout>
    @* Header *@
    <MudAppBar Fixed="true" Dense="false" Elevation="4">
        <div Class="d-flex justify-space-between flex-grow-1 px-5">
            <MudStack Row="true">
                <MudLink Href="/" Typo="Typo.h5" Color="Color.Inherit"
                         Underline="Underline.None">
                    Calmbino's Archive
                </MudLink>
            </MudStack>
            <MudStack Row="true">
                <MudLink Href="/Weather" Typo="Typo.h6" Color="Color.Inherit" Underline="Underline.None">About</MudLink>
                <MudLink Href="/posts" Typo="Typo.h6" Color="Color.Inherit" Underline="Underline.None">Post</MudLink>
            </MudStack>
        </div>
    </MudAppBar>

    @* Body *@
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private readonly bool _isDarkMode = true;

}